* {
    color: white;
}

body {
    background-Color: rgb(54, 104, 168);
}

button {
    margin: 10px;
}

.answer {
    width: 300px;
    height: 100px;
    background-Color: rgb(10, 10, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer h3 {
    cursor: pointer;
}